{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/entrada.css' %}">
<title>{{ nombre }}</title>
{% endblock %}

{% block content %}
<div class="archivo">
    <div class="frameArchivo">
        <h3>{{ nombre }}</h3>
        <p>{{ descripcion }}</p>        
        <div class="cajaBoton"><a href="{{ enlace }}"><div class="interiorBoton"><h6>Prueba</h6></div></a></div>
        <pre>wget {{ enlace }}</pre>
        <h4 class="tituloDetalles">Detalles</h4>
        <div class="detalles">
            <div>
                <h5>Version:</h5>
                <p>{{ version }}</p>
            </div>
            <div>
                <h5>Nombre del archivo:</h5>
                <p>{{ nombre_archivo }}</p>
            </div>
            
            <div>
                <h5>Fecha de publicación:</h5>
                <p>{{ fecha }}</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}